.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchWrapper {
  flex: auto;
}

.card {
  margin-bottom: 2rem;
  display: flex;
}

.titleLink {
  color: var(--tab-text-active-color) !important;
}

.billed {
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
}

.table {
  width: 100%;
}
