.card {
  padding: 2rem var(--container-padding-right) 2rem
    var(--container-padding-left);
}

.dimmedCard {
  background-color: var(--dimmed-card-background) !important;
}

.secondRow {
  margin-top: var(--spacing-medium);
}

.thirdRow {
  margin-top: var(--spacing-medium);
}

.footer {
  display: flex;
  width: 100%;
  margin-top: var(--spacing-medium);
  justify-content: space-between;
  align-items: center;
}

.fourthRow {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: var(--spacing-2) 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--separator-color);
}

.headerWrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 0 var(--spacing-small);
  grid-template-areas:
    "title rightHeader"
    "subtitle subtitle";
}

.title {
  grid-area: title;
  align-self: flex-start;
}

.rightHeader {
  align-self: flex-start;
  align-items: center;
  justify-self: end;
  grid-area: rightHeader;
  margin-top: 0.5rem;
  text-align: end;
}

.subtitle {
  grid-area: subtitle;
}

@media (--sm-viewport) {
  .firstRow {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .rightHeader {
    justify-self: start;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: start;
  }

  .headerWrapper {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "rightHeader" "title" "subtitle ";
  }
}
