.card {
  padding: 2rem var(--container-padding-right) 2rem
    var(--container-padding-left);
}

.dimmedCard {
  background-color: var(--dimmed-card-background) !important;
}

.secondRow {
  margin-top: var(--spacing-medium);
}

.thirdRow {
  margin-top: var(--spacing-medium);
}

.subtitle {
  margin-top: var(--spacing-small);
}

.rightHeader {
  justify-self: end;
}

.footer {
  display: flex;
  width: 100%;
  margin-top: var(--spacing-medium);
  justify-content: space-between;
  align-items: center;
}

.fourthRow {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: var(--spacing-2) 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--separator-color);
}

@media screen and (max-width: 560px) {
  .firstRow {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .rightHeader {
    margin-top: 1rem;
    justify-self: start;
  }
  .header {
    margin-top: var(--spacing-small);
  }
}
