@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1)
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3)
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1)
    }
}

.cardPlaceholder {
    animation: pulse 1s infinite ease-in-out;
    background: darkgray;
    background-size: 800px 104px;
    height: 186px;
    width: 100%;
    margin-bottom: var(--spacing-medium);
    position: relative;
}

.customMain {
    background: none !important;
}