.count {
  color: var(--color-primary-dark);
  font-weight: var(--font-weight-semi-bold);
  margin-left: 0.2rem;
}

.countWrapper {
  display: flex;
  align-items: center;
  color: var(--text-secondary-color);
  justify-content: space-between;
}

a.countWrapper:hover {
  cursor: pointer;
  text-decoration: underline;
}

.countWrapper > * {
  margin-right: 0.5rem;
}
