.transactionIdLink {
  width: 100%;
}

.transactionLabel {
  max-width: 20rem;
}

.transactionIdMessage:nth-child(2) {
  width: 100;
}

/* SMALL */
@media screen and (max-width: 768px) {
  .transactionIdMessage {
    padding: 2rem 2rem;
    overflow-x: hidden;
  }

  .transactionIdLink {
    width: 80%;
  }
}

/* EXTRA SMALL */
@media screen and (max-width: 560px) {
  .transactionIdMessage {
    padding: 2rem 1rem;
    overflow-x: hidden;
  }

  .transactionIdLink {
    width: 50%;
  }
}

/* EXTRA EXTRA SMALL */
@media screen and (max-width: 410px) {
  .transactionIdMessage {
    padding: 2rem 0rem;
    overflow-x: hidden;
    width: 100%;
  }
  .transactionIdMessage > * {
    width: 80%;
  }
}
