.errorMessage {
  margin-bottom: 1rem;
}

.editDcc {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.editContractor {
  margin-top: 2rem;
}

.fieldError {
  color: var(--color-orange);
}

.labelOnBottom {
  align-items: flex-end;  
}