.spinnerWrapper {
  display: flex;
  height: 50%;
  min-height: 200px;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  margin-bottom: 1rem;
}

.editDcc {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.editContractor {
  margin-top: 2rem;
}
