.censor {
  color: var(--color-orange);
}

.censor:hover {
  color: var(--color-orange-alt);
  cursor: pointer;
}

.collapse {
  cursor: pointer;
  background: var(--tab-count-background);
  color: var(--comment-like-color-active);
  width: 2.8rem;
  text-align: center;
  margin-right: 1rem;
  padding: 0.3rem 0rem;
}

.commentCard {
  margin-bottom: 2rem;
}

.body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer {
  color: var(--text-color-light) !important;
  display: flex;
  align-items: center;
}

.footer > * {
  cursor: pointer;
}

.footer .discussion {
  justify-self: flex-end;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.summary {
  display: flex;
}

.recordOwner {
  color: var(--color-gold) !important;
}

.thread {
  margin-top: 2.5rem;
  padding-left: 1.5rem;
  border-left: 0.1rem solid var(--separator-color);
}

.censoredComment {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--comment-censored-background) !important;
}

/* Comment votes */
.leftLikeBox {
  padding-right: 1rem;
  border-right: 1px solid var(--separator-color);
}

.rightLikeBox {
  padding-left: 1rem;
}

.likeBtn {
  border: none;
  background: none !important;
  outline: none;
  cursor: pointer;
  top: 3px;
  position: relative;
}

.likeDisabled {
  cursor: disabled;
}

.likesResult {
  line-height: 16px !important;
  text-align: right !important;
  margin-left: 0.34rem;
  color: var(--color-gray) !important;
}

.votes {
  display: flex;
  align-items: center;
}

.likeBtn > svg > g > path {
  fill: var(--color-gray);
}

.hasVoted > svg > g > path {
  fill: var(--color-primary-dark) !important;
}

/* Parent Comment */
.parentContext {
  display: inline-block;
  font-size: var(--font-size-small);
  color: var(--text-color-light);
  border-left: 0.3rem solid var(--text-color-light);
  padding: 0 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
