.actions {
  display: flex;
}

.actions > * {
  margin-left: 1rem;
}

.actions > *:first-child {
  margin-left: 0px;
}

.censor {
  color: var(--color-orange);
}
.censor:hover {
  color: var(--color-orange-alt);
  cursor: pointer;
}

.body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}
.summary {
  display: flex;
}
