.actions {
  display: flex;
}

.actions > * {
  margin-left: 1rem;
}

.actions > *:first-child {
  margin-left: 0px;
}

.censor {
  color: var(--color-orange);
}
.censor:hover {
  color: var(--color-orange-alt);
  cursor: pointer;
}

.collapse {
  cursor: pointer;
  background: var(--tab-count-background);
  color: var(--comment-like-color-active);
  width: 2.8rem;
  text-align: center;
  margin-right: 1rem;
  padding: 0.3rem 1rem;
}

.commentCard {
  margin-bottom: 2rem;
  padding: 1rem 1.4rem;
}

.body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.summary {
  display: flex;
}

.reply {
  cursor: pointer;
  margin-right: 1rem;
  color: var(--tab-text-color) !important;
}

.thread {
  margin-top: 2rem;
  margin-left: 1.5rem;
  border-left: 1px solid var(--separator-color);
}
