.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container.dark {
  background-color: var(--header-color);
}

.container > img {
  max-width: 300px;
}

.logo-enter {
  opacity: 0;
}

.logo-active {
  opacity: 1;
  transition: opacity 200ms;
}

.logo-exit {
  opacity: 1;
}

.logo-active {
  opacity: 0;
  transition: opacity 200ms;
}
