.box {
  border: 0.1rem solid var(--input-border-color);
  border-radius: 0.2rem;
  height: 4.4rem;
  min-width: 6rem;
  background-color: var(--card-background);
  padding: 1rem 2rem;
}

.placeholder {
  color: var(--text-input-color);
}

.errorMsg {
  visibility: hidden;
  color: var(--color-orange);
  font-size: var(--font-size-small);
  min-height: 2rem;
  margin-top: 0.3rem;
}

.errorMsg.active {
  visibility: visible;
}
