.box {
  border: 0.1rem solid var(--select-border-color);
  border-radius: 0.2rem;
  height: 4.4rem;
  min-width: 6rem;
  background-color: var(--card-background);
  padding: 1rem;
}

.placeholder {
  color: var(--text-input-color);
}
