.diffTabs {
  display: flex;
  margin: 2rem 0;
}

.modalContent {
  width: 100%;
  min-height: 40rem;
  min-width: 90rem;
}

.diffTabs > li {
  flex: 50%;
  justify-content: center;
}

.diffTabContent {
  min-height: 20rem;
  overflow-y: auto;
  width: calc(100% - 8rem);
}

.diffWrapper {
  overflow-wrap: break-word;
}

.version {
  color: var(--text-secondary-color);
}

.field {
  display: flex;
  flex-direction: column;
}

.lineitemsWrapper {
  width: 100%;
  overflow: scroll;
}

@media screen and (max-width: 1000px) {
  .modalContent {
    min-width: 60rem;
  }
}

@media screen and (max-width: 768px) {
  .modalContent {
    min-width: 40rem;
  }
}

@media screen and (max-width: 560px) {
  .diffTabContent {
    max-height: calc(70vh);
    width: calc(100% - 5rem);
  }
  .modalContent {
    min-width: 100%;
  }
}

.versionSelectorContainer {
  margin-bottom: 5px;
}

.versionSelectorWrapper {
  border-bottom: 1px solid var(--color-primary);
  padding: 4px;
}

.versionCompareIcon {
  margin: 0 10px;
}

.versionSpinnerContainer {
  width: 100%;
  margin-top: 5px;
  text-align: center;
}
