.diffTabs {
  display: flex;
  margin: 2rem 0;
}

.diffTabs > li {
  flex: 50%;
  justify-content: center;
}

.diffTabContent {
  overflow-y: scroll;
  max-height: calc(70vh - 20rem);
}

.version {
  color: var(--text-secondary-color);
}

.field {
  display: flex;
  flex-direction: column;
}

.lineitemsWrapper {
  width: 100%;
  overflow: scroll;
}

@media screen and (max-width: 560px) {
  .diffTabContent {
    max-height: calc(70vh);
  }
}
