.block {
  display: flex;
  justify-content: flex-start;
}

.blockDetails {
  min-width: 20rem;
  max-width: 20rem;
}

.descriptionParagraph {
  padding-left: 1rem;
  border-left: 1px solid var(--color-gray-lightest);
  font-size: var(--font-size-small);
  color: var(--color-gray);
}

.title, .status {
  display: block;
}

.title {
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-gray-blueish);
}

.spinnerWrapper {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
}

.buttonsWrapper button {
  width: 14rem;
}


/* HUGE SCREEN */
@media screen and (min-width: 1400px){
  .block {
    justify-content: start;
  }
}

/* SMALL SCREEN */
@media screen and (max-width: 768px) {
  td[data-label="Transaction"]::before {
    margin-right: 2rem;
  }
}

/* EXTRA SMALL SCREEN */
@media screen and (max-width: 560px){
  .block {
    flex-direction: column;
  }

  .blockDetails {
    max-width: unset;
    min-width: unset;
    width: 100%;
  }

  .descriptionParagraph {
    margin-top: 1rem;
    padding-left: 0;
    border: 0;
  }

  .buttonsWrapper {
    flex-direction: row;
  }
}