.spinnerWrapper {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.actionsWrapper {
  width: 39rem;
}

/* EXTRA SMALL SCREENS*/
@media screen and (max-width: 560px) {
  .actionsWrapper {
    width: 9rem;
    justify-content: flex-end;
  }
}
