.errorTooltip {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .errorTooltipContent {
    color: var(--color-orange);
    font-size: var(--font-size-small);
    min-width: 20rem;
  }

  .value {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .erroredCell {
    background: var(--color-orange-light) !important;
  }