.field {
    display: flex;
    line-height: 24px;
    width: 100%;
}

.field .clear {
    clear: left;
}

.field .field-label {
    float: left;
    width: 33%;
    font-size: 1.05em;
    margin-right: 4px;
    color: #777;
    text-align: left;
}
  
.field .field-value {
    float: left;
    line-height: 24px;
    width: 66%;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.field-separator {
    height: 16px;
}