.customMain {
    grid-row: auto !important;
    grid-column: 5 / 11 !important;
    margin-top: 6rem !important;
    padding-top: 2rem !important;
    background: none !important;
}

.customPageDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitle {
    color: var(--color-gray);
    font-size: var(--font-size-small);
}

/* EXTRA SMALL WIDTH */
@media screen and (max-width: 560px){
    .customPageDetails {
        padding-left: 2rem;
    }

    .customTab {
        margin-right: 2rem;
    }
}

.narrow {
    grid-column: 5 / 11 !important;
}

.widen {
    grid-column: 4 / 12 !important;
}

.card {
    padding: 4rem 9rem;
}

/* MEDIUM */
@media screen and (max-width: 1000px){
    .customMain {
        grid-column: 4 / 12 !important;
    }
}


/* SMALL WIDTH */
@media screen and (max-width: 768px){
    .customMain {
        grid-column: full-start / full-end !important;
    }
}

/* EXTRA SMALL WIDTH */
@media screen and (max-width: 560px){
    .card {
        padding: 2rem 3rem;
    }

    .customMain {
        margin-top: 0 !important;
    }
}
