* {
    box-sizing: border-box;
}

::selection {
    background: #0079d3;
    text-shadow: none;
    color: #fff
}

:focus {
    outline: 0 !important;
}

a {
    color: #2971ff;
}

a:hover {
    color: #2971ff;
}

.flat-list .first a {
    font: 13px Source Sans Pro,Lato,Arial,sans-serif;
    padding: 0 1px;
    text-decoration: none !important;
}

.proposal-permalink {
    color: #2971ff !important;
    font-weight: 700 !important;
}

.proposal-permalink:hover {
    color: #2971ff;
}

.side .spacer input,
body .appWrapper .text,
body .appWrapper input[type=password],
body .appWrapper input[type=text],
body .appWrapper input[type=url],
body .appWrapper textarea {
    transition: border-color .15s ease, color .15s ease;
    padding: 6px 12px;
}
.side .spacer input:hover,
body .appWrapper .text:hover,
body .appWrapper input[type=password]:hover,
body .appWrapper input[type=text]:hover,
body .appWrapper input[type=url]:hover,
body .appWrapper textarea:hover {
    border-color: #e2e2e2;
}
.side .spacer input:active,
.side .spacer input:focus,
body .appWrapper .text:focus,
body .appWrapper input[type=password]:focus,
body .appWrapper input[type=text]:focus,
body .appWrapper input[type=url]:focus,
body .appWrapper textarea:focus {
    border-color: #2971ff;
    color: #0c1e3e;
}
.c-btn-primary,
.wiki-page .wiki-page-content .wiki_button,
.btn, body button {
    margin: 4px 16px 4px 0;
    padding: 0 16px;
    background: #091440;
    border: none;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-family: 'Source Sans Pro', Lato, Arial, sans-serif;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0 4px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
}
.btn:hover,
.c-btn-primary:hover,
.wiki-page .wiki-page-content .wiki_button,
button:hover {
    color: #fff;
    background: #2d3c72;
    opacity: 1;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.btn:active,
.c-btn-primary:active,
.wiki-page .wiki-page-content .wiki_button,
button:active {
    color: #fff;
    background: #5981ab;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0 4px 0 rgba(0, 0, 0, .12);
}
.btn:active,
.c-btn-primary:active,
.wiki-page .wiki-page-content .wiki_button,
button:visited {
    background: #5981ab;
}

.react-file-reader-button button
{
  color: #fff;
  background: #28a745;
  min-width: 200px;
}

body .btn.secondary,
body button.secondary {
  color: #fff;
  background: #6c757d;
  min-width: 150px;
}

body .btn.secondary:hover,
body button.secondary:hover {
  background: #828e98;
}

body button.secondary.disabled {
  background: rgba(0, 0, 0, .08);
  color: #bbb;
}

.react-file-reader-button button, .ReactFileReader
{
  color: #fff;
  background: #28a745;
  min-width: 200px;
}

.ReactFileReader {
	margin-left: 5em;
}

.c-btn-primary:active {
    margin-top: 4px;
}

.appWrapper {
    display: flex;
    flex-direction: row-reverse;
}

body.listing-page>.content,
body>.appWrapper>.content {
    padding: 68px 16px 64px 16px;
    width: 100%;
    margin: 0;
}
body>.appWrapper>.content>#login {
    margin-left: 0;
    padding-right: 1em;
    position: absolute;
    width: 98.75%;
    margin: 0;
}

.link {
    padding: 16px;
    position: relative
}

.arrow {
    margin: 0;
    background-image: url("./spritesheet.png")!important;
    width: 33px;
    border-radius: 2px
}

.arrow:hover {
    background-color: rgba(0, 0, 0, .05)
}

.arrow.up {
    height: 20px;
    background-position: 0 -80px
}

.arrow.upmod {
    height: 20px;
    background-position: -32px -80px;
    position: relative
}

.arrow.down {
    height: 20px;
    background-position: -63px -80px
}

.arrow.downmod {
    height: 20px;
    background-position: 1px -100px
}

.arrow,
.arrow.down,
.arrow.up {
    transition: background-color .25s ease
}

.arrow.down:hover:after {
    visibility: visible;
    background: rgba(79, 77, 192, .9);
    color: #FFF;
    margin-left: 48px
}

.content .thing .title:visited:hover,
.content .thing.visited .title:hover,
.thing .title.click:visited:hover,
.thing .title.loggedin.click:hover,
.thing .title.loggedin.click:visited:hover {
    color: #5c6871 !important;
}

.thing .title.click,
.thing .title.loggedin,
.thing .title {
    color: #2971ff;
}
.thing .title.click:hover,
.thing .title.loggedin:hover,
.thing .title:hover {
    color: #3168d4 !important;
}

.entry .tagline {
    margin-top: 3px;
    color: #98abba;
    font: 12px 'Source Sans Pro', Lato, Arial, sans-serif
}

.appWrapper .content .infobar {
    margin: 0 0 16px;
    padding: 8px 16px;
    line-height: 26px;
    border: none;
    background-color: #0079d3;
    color: #fff;
    border-radius: 2px
}

.appWrapper .content .infobar.welcome {
    line-height: inherit;
    height: 86px;
}

.appWrapper .content .infobar.welcome h1 {
    color: #4d5763;
}

.content-title {
  margin: 8px 0px 8px 24px;
}

.user-proposals-page .content-title {
  margin-left: 10px;
}
.user-proposals-filter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 10px 20px;
}

.user-proposal-option {
  cursor: pointer;
  margin: 0 10px;
}

.user-proposal-option:hover {
  text-decoration: underline;
}

.side .spacer {
    margin: 0 0 16px;
}

.search-form input[type=text], #search input[type=text] {
    padding: 0 42px 0 16px;
    border: 0 solid;
    border-radius: 2px;
    width: 320px;
    height: 42px;
    line-height: 41px;
    background: #fff;
    color: rgba(0, 0, 0, .7);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
}
.search-form input[type=text]:hover, #search input[type=text]:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.search-form input[type=text]:focus, #search input[type=text]:focus {
    border-radius: 2px 2px 0 0;
}
.search-form input[type=text]:focus:hover, #search input[type=text]:focus:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .28) !important;
}

.search-form input[type=text]::placeholder, #search input[type=text]::placeholder {
    font-size: 14px;
    text-transform: capitalize;
    top: 1px;
    position: relative;
    color: #B3B3B3;
}

.morelink {
    background: #091440;
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 36px;
    border: none;
    padding: 0;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0 4px 0 rgba(0, 0, 0, .12);
}
.morelink:hover {
    background: #2d3c72;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.morelink:active {
    background: #445286;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0 4px 0 rgba(0, 0, 0, .12);
}
.morelink:visited{
	background-color: green;
}
.sidebox.submit.submit-text .morelink {
    margin-left: 168px;
}
.morelink a {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0;
}
.submit-text .morelink a:before {
    font-size: 14px;
    content: "Submit Proposal";
}
.not-active {
    pointer-events: none;
}

.disabled .morelink {
    box-shadow: none!important;
    background: rgba(0, 0, 0, .08);
}

.disabled .morelink a {
    color: rgba(0, 0, 0, .32);
}

.morelink .nub {
    display: none;
}

button.disabled {
    background: rgba(0, 0, 0, .08);
    color: #bbb;
}

.login-form-side {
    border: none;
    border-bottom: 1px solid #edf1f3;
}
.login-form-side input[type=password],
.login-form-side input[type=text] {
    width: 136px;
}
.login-form-side input[type=text] {
    margin-left: 0;
}

.titlebox {
    box-shadow: 3px 4px 6px 1px #e9e9e9;
}

.titlebox .tagline {
    font-size: 12px;
}
.titlebox .tagline:after {
    content: "";
    height: 2px;
    background: #f2f2f2;
    display: block;
}

.side .md p {
    color: #0c1e3e;
    font: 13px/1.45 Source Sans Pro,Lato,Arial,sans-serif;
    text-rendering: optimizelegibility;
    letter-spacing: .03em;
}

.side .titlebox .md h1 {
    line-height: 18px;
}

.side .titlebox .md ul > li {
    line-height: 18px;
    font: 13px/1.45 Source Sans Pro,Lato,Arial,sans-serif;
}

.side .titlebox .md h3 a,
.side .titlebox .md h4 a {
    padding: 0 16px;
    border-radius: 2px;
    display: block;
}
.side .titlebox .md h3 a {
    width: 100%;
    background: #0079d3;
    font: 12px/42px 'Source Sans Pro', Lato, Arial, sans-serif;
    color: #fff;
}

.side .titlebox .md h3 a:hover {
    background: #158be2;
}

.side .titlebox .md h4 a {
    background: #FFF;
    color: #2971ff;
    font-weight: 700;
    font-size: 12px;
}
.gadget .reddit-entry .linkflairlabel,
.sidebox .spacer {
    display: none;
}
.side .titlebox h4 a:active {
    background: #f4f6f7;
}

.side .sidecontentbox .content {
    border: none;
}

.sidebox.create .morelink a {
    font-size: 14px;
    color: #2971ff
}

.commentarea {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 3px 4px 6px 1px #e9e9e9;
}
.comments-page .link .usertext .md {
    margin-bottom: 0;
}
.commentarea .panestack-title {
    margin: 16px 0 0;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.commentarea .panestack-title .title {
    color: #4D5763;
}
.commentarea .menuarea {
    margin: 0 0 20px;
    padding-left: 16px;
}
.comment-permalink-page .commentarea .menuarea {
    margin: 20px 0;
}
.commentarea .menuarea span.dropdown-title.lightdrop {
    color: #98abba;
}
.commentarea .menuarea span.dropdown-title.lightdrop:first-letter {
    text-transform: capitalize;
}
.commentarea .menuarea .dropdown.lightdrop .selected {
    font-weight: 400;
}
.commentarea .menuarea .toggle a,
.help-hoverable {
    color: #98abba;
    font-weight: 400;
}
.commentarea .menuarea .toggle a:hover,
.help-hoverable:hover,
.usertext .bottom-area a.reddiquette {
    color: #2971ff;
}
.help-hoverable {
    font-size: x-small;
}
.commentarea>.usertext {
    margin: 0;
    padding: 16px;
    overflow: visible;
    order: -1;
}

.commentarea .usertext-edit {
    width: 100% !important;
    max-width: 500px;
}

.commentarea .usertext-edit textarea {
    position: relative;
    z-index: 0;
    width: 100%;
}

.commentarea .usertext-edit .md {
    margin: 0 0 16px;
}

.commentarea .sitetable {
    margin: 0;
    box-shadow: none;
}
.commentarea .thing {
    margin: 0 0 16px;
    padding: 8px 8px 0 0;
}
.commentarea .child .thing {
    box-shadow: none;
    padding: 8px 0px 0px 0px;
    margin: 8px 0 0;
}
.commentarea .comment .midcol {
    margin-top: 2px;
    width: 32px;
    margin-right: 6px;
    overflow: visible;
}
.comment .child,
.comment .showreplies {
    margin-top: 0;
    margin-left: 0;
    padding-left: 20px;
    background: #fff;
    border-left: 0;
}

.comment .midcol {
    width: 24px;
    margin-right: 0;
}
.comment .midcol .arrow {
    margin-left: 0;
    margin-bottom: 4px;
}

.comment a.author[href] {
    color: #2971ff;
}
.comment a.author:hover {
    text-decoration: none;
}
.green {
    color: #41bf53!important;
    font-weight: 700;
}

.comment .score {
    font-size: inherit;
    font-weight: 700;
}

.comment .score:before {
    content: "• ";
    margin: 0 2px;
    vertical-align: middle;
    line-height: 14px
}

.usertext.grayed .usertext-body {
    margin: 4px 0;
    background-color: transparent;
    text-transform: italic;
    padding: 0;
}
.comment .flat-list li a {
    color: #98abba;
    font-weight: 400;
    font-size: 10px;
}
.comment .flat-list li a:hover {
    color: #2971ff;
    text-decoration: none;
}
.comment .flat-list li a[onclick*=reply] {
    color: #2971ff;
    font-weight: 700;
    font-size: 11px;
}
.deepthread a {
    color: #2971ff;
}
.morecomments a {
    color: #e2e2e2;
}

#suggested-reddits,
.submit-page .side {
    display: none
}
.submit-page #newlink.submit.content {
    width: 524px;
}
.submit-page #newlink.submit.content form .spacer+.spacer {
    margin: 0;
}
.submit-page #newlink.submit.content ul.tabmenu.formtab {
    position: relative;
    padding: 0;
    border: none;
    background: #0079D3;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
}
.submit-page #newlink.submit.content .tabmenu.formtab a {
    padding: 16px;
    width: 262px;
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    font-weight: 700;
    transition: all .15s ease;
    font-size: 16px;
    border: none;
    border-bottom: 4px solid transparent;
}

.submit-page .formtabs-content {
    border-top: 0;
    padding-top: 0;
}

.usertext .bottom-area a {
    color: #98abba;
}
.usertext .bottom-area a:hover {
    color: #2971ff;
}

.tabmenu li a {
    background: 0 0;
    color: #0c1e3e;
    font-size: 14px;
}

pre {
    overflow: hidden;
}

#images {
    position: relative;
    overflow: auto;
    height: inherit;
}
#images #image-upload {
    margin: 0 0 16px;
}
ul.image-preview-list {
    margin: 16px 0 0;
}
ul.image-preview-list li {
    width: 33.33%;
}

.listing-page .comment {
    margin-left: 0;
    padding: 16px 16px 16px 8px;
}

.listing-page .comment .midcol {
    width: 36px;
    margin-right: 2px;
    margin-top: 4px;
    overflow: visible;
}
.listing-page .comment .parent {
    margin-bottom: 4px;
}
.listing-page .comment .title {
    font-size: 14px;
    margin-left: 8px;
}

.footer-parent {
    display: none;
}

#hsts_pixel,
.debuginfo {
    display: none
}

#ad-frame,
#ad_main,
#ad_main_top,
#bottom-comments:not(.child)>.sitetable>.comment,
#images,
#previoussearch #moresearchinfo,
.account-activity-box,
.commentarea>.sitetable>.comment,
.comments-page .link,
.linefield,
.login-form-side,
.search-result-listing+.search-result-listing .contents,
.search-result-subreddit,
.side .sidecontentbox,
.side .titlebox,
.sponsorshipbox,
.stylesheet-customize-container .pretty-form,
.submit-page .roundfield,
.wiki-page .wiki-page-content,
[class] .searchfacets,
body.listing-page>.content,
body.other-discussions-page>.content {
    background: #fff;
    padding: 16px;
    border-radius: 2px;
}

#bottom-comments>.sitetable>.comment,
.commentarea>.sitetable>.comment {
    padding-left: 10px;
}

.side {
    margin: 68px 16px 0 0;
}

.submit .morelink {
    top: 0;
}

.spacer {
    position: relative;
}

.search-form {
    position: relative;
    top: 16px;
    z-index: 1;
    width: 320px;
    margin-bottom: 32px;
}

.md blockquote,
blockquote {
    color: #858e9e !important;
}

.md a:visited {
    color: #2971ff !important;
}
.submit .morelink {
    width: auto;
    position: inherit !important;
    margin-left: 0 !important;
}

form div.usertext-body.may-blank-within.md-container {
    display: inline-block !important;
    margin-top: 10px !important;
}

.content .thing .title:visited, .content .thing.visited .title {
    color: #738491;
}

/* Header */
#header {
    height: 52px;
    position: absolute;
    top: 0;
    width: 100%;
    background-image: none;
    background-color: #091440;
    border-bottom: #091440;
    display: flex;
    justify-content: space-between;
}

#header-right a {
    color: rgba(255, 255, 255, .7);
}

#header-right a:hover {
    text-decoration: underline
}

#header .tabmenu {
    display: block;
    height: 42px;
    left: 32px;
    line-height: 42px;
    border: none
}

#header .tabmenu li {
    margin: 0;
}

#header .tabmenu li a {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font: 400 16px/36px 'Source Sans Pro', Lato, Arial, sans-serif;
    color: rgba(255, 255, 255, .7);
    display: inline-block
}

#header .tabmenu li a:hover {
    color: #fff
}

#header .tabmenu li.selected a {
    padding-bottom: 4px;
    color: #fff;
    border-bottom: 2px solid
}

#header-img {
    margin: 0;
}

#header-img,
#header-img.default-header {
    position: absolute;
    display: block;
    top: 0;
    height: 52px;
    background-image: url("./logo.svg");
    background-position: 100% 50%;
    background-size: 155px;
    background-repeat: no-repeat;
    z-index: 999;
    font-size: 0
}
#header .tabmenu {
    position: absolute;
    bottom: 2px;
    margin: 0 0 0 180px;
}

