.form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}

.checkboxesWrapper {
    display: flex;
    justify-content: right;
}
