.attachButton {
    font-size: var(--font-size-small);
    padding: .3rem .6rem;
}

.container {
    width: "100%"
}

.previewContainer {
    max-width: 100%;
    min-width: 100%;
    padding: 2rem;
    border: 1px solid var(--color-gray-lighter);
    min-height: 20rem;
}

.previewContainer.nothingToPreview p {
    color: var(--color-gray-blueish);
}

.previewContainer.nothingToPreview {
    border: 0px transparent;
    border-bottom: 1px solid var(--color-gray-lighter);
    padding: 2rem 0;
}