.attachButton {
  font-size: var(--font-size-small);
  padding: 0.3rem 0.6rem;
}

.container {
  width: "100%";
}

.previewContainer {
  max-width: 100%;
  min-width: 100%;
  padding: 2rem;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--separator-color);
  min-height: 20rem;
}

.previewContainer.nothingToPreview p {
  color: var(--color-gray-blueish);
}

.dark.previewContainer.nothingToPreview p {
  color: var(--text-color);
}

.previewContainer.nothingToPreview {
  padding: 2rem 0;
}
