.mde-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.mde-preview {
  min-height: 200px !important;
}

.mde-header-group {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  border-right: 1px solid var(--color-gray-lighter);
  margin-right: 1rem;
  list-style-type: none;
}

.mde-header ul:last-child:not(:only-of-type) {
  max-width: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.mde-header ul:only-of-type {
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}

.mde-header ul:only-of-type .mde-header-item button {
  background: none;
}

.mde-header-item:last-child {
  margin-right: 0;
}

li.mde-header-item > button {
  background: none;
}

.react-mde .grip {
  display: none;
}

.mde-tabs button,
.mde-header-group:not(:last-child) .mde-header-item button {
  background: none;
}

.mde-text {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-regular);
  max-width: 100%;
  min-width: 100%;
  padding: 2rem;
  min-height: 20rem;
  border: 1px solid var(--input-border-color);
  line-height: 1.5;
  font-size: var(--font-size-regular);
  background: var(--card-background);
  -webkit-appearance: none;
  color: var(--text-color);
}

.mde-text::placeholder {
  color: var(--text-input-color);
}

.mde-header-item {
  margin-right: 1rem;
}

.mde-header-item button {
  border: none;
  cursor: pointer;
}

.mde-tabs button {
  cursor: pointer;
  color: var(--tab-text-color);
  border: none;
  font-size: var(--font-size-small) !important;
}

.mde-tabs button:focus {
  outline: none;
}

.mde-tabs button:hover {
  color: var(--tab-text-active-color) !important;
}

.mde-tabs button.selected {
  color: var(--tab-text-active-color) !important;
}

.mde-tabs > :first-child {
  padding-right: 1rem;
  border-right: 1px solid var(--separator-color);
}

.mde-tabs > :last-child {
  padding-left: 1rem;
}
