.titleWrapper {
    display: flex;
    flex-direction: column;
}

.searchBox {
    width: 24rem;
    margin-right: 2rem;
}

.searchBox > input {
    margin-top: 0;
}

.searchButton {
    max-height: 4.2rem;
}

.searchByRadioGroup {
    padding-left: 0.1rem;
}

.searchByRadioButton {
    margin-right: 3rem;
}

.customMain {
    grid-column: center-start / center-end;
}

@media screen and (min-width: 1400px) {
    .customMain {
        grid-column: full-start / full-end;
        margin-left: 6rem;
        margin-right: 6rem;
    }
}