.titleWrapper {
  display: flex;
  flex-direction: column;
}

.searchBox {
  max-width: 24rem;
  margin-right: 2rem;
}

.searchBox > input {
  margin-top: 0;
}

.select {
  height: 4.6rem;
  width: 24rem;
  margin: 0 2rem 2rem 0;
}

.select [class*="customSelect__control"] {
  height: calc(100% - 0.5rem);
}

.searchButton {
  max-height: 4.2rem;
}

.searchByRadioGroup {
  padding-left: 0.1rem;
}

.searchByRadioButton {
  margin-right: 3rem;
}
