.wrapper {
  display: block;
  padding: 5px;
  width: 100%;
  margin-top: 20px;
}

.wrapper table.data-grid tr td.cell:not(.selected) {
  border: 1px solid #ececec;
}
.wrapper table.data-grid tr td.cell,
.wrapper table.data-grid tr th.cell {
  font-size: 12px;
}
div.divider {
  margin: 40px 0px;
  height: 1px;
  width: 100%;
  background-color: #eee;
}
pre {
  display: inline-block;
  background: #333;
  padding: 10px 30px;
  border-left: 2px solid white;
}

:global(.cell.read-only) {
  background-color: var(--color-gray-lightest) !important;
}

:global(.cell) {
  position: relative;
  border: 0 !important;
  border-left: 0.5px solid var(--color-gray-lightest) !important;
  border-bottom: 0.5px solid var(--color-gray-lightest) !important;
}

:global(input.data-editor) {
  height: 100% !important;
  width: 100% !important;
  text-align: left !important;
  font-size: var(--font-size-normal);
}

:global(span.value-viewer) {
  max-height: 10rem;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.tableButton.add {
  background: #164623;
}

.tableButton.add:hover {
  background: #476b50;
}

.tableButton.remove {
  background: #e63946;
}

.tableButton.remove.disabled {
  background: rgba(0, 0, 0, 0.08);
}

.tableButton.remove:hover {
  background: #f17d86;
}

.totalLabel {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.multilineCellValue {
  word-break: break-word;
  white-space: pre-line !important;
}

.multilineEditor {
  resize: vertical;
  height: 25px;
}

.table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  min-width: 100rem;
}

.tableHead {
  background-color: var(--color-gray-lightest);
}

.tableCell {
  max-width: 12rem;
  min-width: 12rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.tableHeadCell {
  composes: tableCell;
  height: 5.2rem;
}

.tableRow > td {
  height: 5rem !important;
  vertical-align: middle !important;
  text-align: center !important;
  max-width: 12rem;
  min-width: 12rem;
  text-align: center;
  text-overflow: ellipsis;
}

span.tableButton {
  cursor: pointer;
  margin-left: 1rem;
}

span.tableButtonDisabled {
  cursor: not-allowed;
  color: var(--color-gray);
}

.datasheetWrapper {
  width: 100%;
  overflow-y: visible;
  overflow-x: auto;
  padding-bottom: 22rem;
}

.erroredCell {
  background: var(--color-orange-light) !important;
}
