.row {
    margin-top: var(--spacing-small);
}

.filesRow {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.timeLeft {
    margin-top: .5rem;
}

.version {
    line-height: var(--spacing-2);
    color: var(--color-gray) !important;
}

.versionPicker > div > span {
    color: var(--color-gray) !important;

}

.markdownContainer {
    margin-top: var(--spacing-2);
    padding: var(--spacing-2) 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--color-gray-lighter);
}

.voteCount {
    display: flex;
}

.voteCountSearch {
    cursor: pointer;
    margin-right: var(--spacing-small);
}

.lastRow {
 display: flex;
 justify-content: space-between;   
}

.copyLink {
    margin-right: 2.4rem;
}

.downloadCommentsLink {
    margin-right: 1rem;
}

.proposalActions {
    margin: 0;
}

@media screen and (max-width: 560px) {
    .timeLeft {
        margin-top: 0;
    }

    .statusTag {
        margin-right: var(--spacing-1);
    }

    .lastRow {
        flex-direction: column;
    }

    .downloadLinksWrapper {
        flex-direction: column;
    }

    .downloadCommentsLink {
        margin-right: 0;
        margin-top: 1rem;
    }

    .proposalActions {
        margin-top: 2rem;
    }
    .versionPicker {
        margin-left: auto;
    }
    .version {
        margin-left: auto !important;
    }
}