.form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.checkboxesWrapper {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

.topFilters {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.monthPicker {
  flex-grow: 4;
}

.presetDates {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.presetDates a {
  margin-left: 2rem;
}

/* SMALL */
@media screen and (max-width: 768px) {
  .selector {
    width: 100% !important;
    margin: 1rem 0;
    order: 3;
    align-self: center;
  }
  .presetDates {
    align-self: flex-start;
  }

  .presetDates a {
    margin-left: 1rem;
  }
}
