.actionsWrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.darkButton {
  color: var(--tab-text-color) !important;
}

.formSelectError {
  padding-bottom: 0.5em;
}

.errorMsg {
  color: var(--color-orange);
  font-size: var(--font-size-small);
  min-height: 2rem;
  margin-top: 0.3rem;
}

.typeSelectWrapper {
  height: 4.4rem;
  width: 20rem;
}

.typeSelectWrapper > div {
  height: 100%;
}

.typeRow {
  margin-bottom: 2rem;
}

.datePicker {
  margin-left: 2rem;
  width: 20rem;
  height: 4.4rem;
}

.rfpLinkIcon {
  display: flex;
  align-items: center;
  height: 4.4rem;
  margin-left: var(--spacing-small);
  margin-right: var(--spacing-small);
}

.rfpLinkToken > input {
  margin-top: 0;
}

.rfpLinkToken > p {
  display: none;
}

.formatHelpButton {
  border: 0;
  color: var(--color-gray);
  font-weight: 400;
  cursor: pointer;
  padding-top: 10px;
  padding-right: var(--spacing-4);
}

.formatHelpButton:hover {
  color: var(--color-gray-dark);
}

.proposalGuidelinesButton {
  composes: formatHelpButton;
  text-decoration: none !important;
}

@media screen and (max-width: 685px) {
  .formatHelpButton {
    padding-right: var(--spacing-1);
  }

  .proposalGuidelinesButton {
    padding-right: 0 !important;
  }
}
