.actionsWrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.darkButton {
  color: var(--tab-text-color) !important;
}

.formSelectError {
  padding-bottom: 0.5em;
}

.errorRow {
  width: 100%;
}

.errorMsg {
  color: var(--color-orange);
  font-size: var(--font-size-small);
  min-height: 2rem;
  margin-top: 0.3rem;
}

.typeSelectWrapper {
  height: 4.4rem;
  width: 20rem;
}

.typeSelectWrapper [class*="customSelect__control"] {
  height: 100%;
}

.typeRow {
  margin-bottom: 2rem;
}

.typeRowNoMargin {
  margin-bottom: 0;
}

.rfpDeadline {
  margin-left: 2rem;
  flex-basis: 20rem;
  height: 4.4rem;
}

.startDate,
.endate {
  margin-top: 1.2rem;
  flex-basis: 20rem;
}

.iconWrapper {
  display: flex;
  align-items: center;
  height: 4.4rem;
  justify-content: center;
  padding: 0.8rem;
}

.deadlineTooltip {
  font-size: var(--font-size-small);
  width: 50rem;
}

.rfpLinkToken {
  flex-basis: 50rem;
}

.rfpLinkToken > input {
  margin-top: 0;
  height: 4.4rem;
}

.formatHelpButton {
  border: 0;
  color: var(--color-gray);
  font-weight: 400;
  cursor: pointer;
  padding-top: 1rem;
  padding-right: var(--spacing-4);
}

.formatHelpButton:hover {
  color: var(--color-gray-dark);
}

.proposalGuidelinesButton {
  composes: formatHelpButton;
  text-decoration: none !important;
}

.tooltipWrapper {
  flex-basis: 4rem;
}

.topMargin {
  margin-top: 2rem;
}

.listItem {
  margin-top: 1rem;
}

@media screen and (max-width: 685px) {
  .datePicker {
    margin-top: 2rem;
    margin-left: 0;
    flex-basis: 90%;
  }

  .rfpLinkToken {
    flex-basis: 90%;
  }

  .tooltipWrapper {
    margin-top: 2rem;
    flex-basis: 10%;
  }

  .formatHelpButton {
    padding-right: var(--spacing-1);
  }

  .proposalGuidelinesButton {
    padding-right: 0 !important;
  }
}
