.actionsWrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.darkButton {
  color: var(--tab-text-color) !important;
}

.selectWrapper {
  width: 20rem;
  height: 4.4rem;
}

.selectWrapper > div {
  height: 100%;
}

.datePicker {
  margin-left: 2rem;
  width: 20rem;
  height: 4.4rem;
}

.formatHelpButton {
  border: 0;
  color: var(--color-gray);
  font-weight: 400;
  cursor: pointer;
  padding-top: 10px;
  padding-right: var(--spacing-4);
}

.formatHelpButton:hover {
  color: var(--color-gray-dark);
}

.proposalGuidelinesButton {
  composes: formatHelpButton;
  text-decoration: none !important;
}

@media screen and (max-width: 685px) {
  .formatHelpButton {
    padding-right: var(--spacing-1);
  }

  .proposalGuidelinesButton {
    padding-right: 0 !important;
  }
}
