.item {
  margin-top: var(--spacing-medium);
  display: flex;
}
.wrapper > div:first-child {
  margin-top: 0;
}

.label {
  color: var(--text-secondary-color);
}

.value {
  padding-left: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
