.item {
  margin-top: var(--spacing-medium);
  display: flex;
  align-items: center;
}

.wrapper > div:first-child {
  margin-top: 0;
}

.label {
  color: var(--text-secondary-color);
}

.value {
  padding-left: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.align {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

@media (--sm-viewport) {
  .align {
    display: block;
  }
  .align .value {
    padding: 0;
  }
}
