.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.totalText {
  text-align: right;
}

.reference {
  display: block;
  font-size: 0.7em;
}

.value {
  cursor: pointer;
}
