.row {
  margin-top: var(--spacing-small);
}

.authorizeTooltip {
  width: 22rem;
}

.disabled > a {
  display: block;
}

.disabled > * {
  pointer-events: none;
}

.filesRow {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}

.blocksLeft {
  color: var(--text-secondary-color) !important;
}

.subtitleStatusTag {
  margin-top: 0.5rem;
  color: var(--text-secondary-color) !important;
}

.version {
  line-height: var(--spacing-2);
  color: var(--text-secondary-color) !important;
}

.versionPicker > div > span {
  color: var(--color-gray) !important;
}

.darkVersionPicker > div > span {
  color: var(--text-color) !important;
}

.markdownContainer:not(.rfpMarkdownContainer) {
  margin-top: var(--spacing-2);
  padding: var(--spacing-2) 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--separator-color);
}

.rfpMarkdownContainer {
  padding: var(--spacing-3) 0;
  border-bottom: 1px solid var(--separator-color);
}

.voteCount {
  display: flex;
  user-select: none;
  align-items: flex-end;
}

.quorumAndVotes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.voteCountSearch {
  cursor: pointer;
  margin-right: var(--spacing-small);
  width: 14px;
  height: 21px;
}

.lastRow {
  display: flex;
  justify-content: space-between;
}

.copyLink {
  margin-right: 1.2rem;
}

.downloadCommentsLink {
  margin-right: 1rem;
}

.abandonedProposal {
  background: var(--dimmed-card-background) !important;
}

.rfpProposal {
  border-left: 2px solid #1b41b3;
}

.proposalActions {
  margin: 0;
}

span.statusTag > span {
  overflow: visible;
}

.statusBarTooltip {
  width: 22.5rem;
}

.quorumTooltip {
  white-space: nowrap;
  font-size: var(--font-size-small);
  color: var(--color-gray);
}

.darkQuorumTooltip {
  color: var(--text-color);
}

.votesQuorum {
  color: var(--text-secondary-color) !important;
}

.votesLeft {
  color: var(--text-secondary-color) !important;
}

.votesReceived {
  color: var(--tab-text-active-color) !important;
}

.rawMarkdownPre {
  padding: 0;
  background: transparent;
  border-left: 0;
}

.toggleMarkdownLink {
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .rfpProposal {
    border-left: 1px solid #1b41b3;
  }

  .subtitleStatusTag {
    margin-top: 0;
  }

  .statusTag {
    margin-right: var(--spacing-1);
  }

  .lastRow {
    flex-direction: column;
  }

  .proposalActions {
    margin-top: 2rem;
  }

  .voteCount {
    margin-bottom: 1rem;
  }

  .quorumAndVotes {
    align-items: flex-start;
  }
}
