div.customMain {
  background: none !important;
  max-width: 100vw;
}

@media screen and (min-width: 561px) {
  div.customMainNoSidebar {
    grid-column: center-start / center-end;
  }
}

@media screen and (min-width: 1400px) {
  div.customMainNoSidebar {
    grid-column: full-start / full-end;
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

.singleContentMain {
  composes: customMain;
  grid-row: auto !important;
  grid-column: 5 / 11 !important;
  margin-top: 6rem !important;
  padding: 2rem 0 0 0 !important;
}

div.customPageDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  max-width: 100%;
}

.titleAndSubtitleWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subtitle {
  color: var(--subtitle-color);
  font-size: var(--font-size-small);
}

.pageDetailsHeader {
  display: flex;
  flex: 1;
  margin-top: 3rem;
}

.pageDetailsTitle {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.pageDetailsActions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  max-height: 4.4rem;
}

.card {
  padding: 4rem 6.7rem;
  margin-bottom: 2rem;
}

.narrow {
  grid-column: 5 / 11 !important;
}

.widen {
  grid-column: 4 / 12 !important;
}

.wrap {
  flex-wrap: wrap;
}

/* HUGE SCREENS */
@media screen and (min-width: 1400px) {
  .narrow {
    margin-left: 0 !important;
  }
}

/* MEDIUM SCREENS */
@media screen and (max-width: 1000px) {
  .singleContentMain {
    grid-column: 4 / 12 !important;
  }

  .card {
    padding: 4rem 6rem;
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 768px) {
  .singleContentMain {
    grid-column: 3 / 13 !important;
  }
}

/* EXTRA SMALL SCREENS*/
@media screen and (max-width: 560px) {
  .card {
    padding: 2rem 3rem;
  }

  .singleContentMain {
    grid-column: full-start / full-end !important;
    margin-top: 0 !important;
  }
}
