.version {
  color: var(--text-secondary-color);
}

.statusLabelWrapper {
  position: absolute;
  right: var(--container-padding-right);
}

.statusLabel {
  font-size: var(--font-size-small);
}

.statusLabelText {
  font-size: var(--font-size-small);
  color: var(--text-secondary-color);
}

@media screen and (max-width: 768px) {
  .statusLabelWrapper {
    top: 2.3rem;
    display: flex;
  }
  .statusLabelText::before {
    content: "•";
    padding: 0 0.5rem;
  }
}
