.version {
  color: var(--text-secondary-color);
}

.statusLabelWrapper {
  position: absolute;
  right: var(--container-padding-right);
  display: flex;
  flex-flow: column;
}

.statusLabel {
  font-size: var(--font-size-small);
}

.statusLabelTooltip {
  width: max-content;
}

.statusLabelText {
  font-size: var(--font-size-small);
  color: var(--text-secondary-color);
}

@media (--sm-viewport) {
  .statusLabelWrapper {
    top: 2.3rem;
    flex-flow: row;
  }
  .statusLabelText::before {
    content: "•";
    padding: 0 0.5rem;
  }
}
