.wrapper {
  width: 632px;
}

.selectFileWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.greyText {
  color: #8997a5;
}

@media screen and (max-width: 700px) {
  .wrapper {
    width: 100%;
    max-width: 632px;
  }
}
