.newProposalButton {
    width: 15.5rem;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newProposalButtonContent::after {
    content: "New Proposal"
}

@media screen and (max-width: 560px){
    .newProposalButtonContent::after {
        content: "+"
    }

    .newProposalButton { 
        padding: 0 !important;
        width: 3.2rem;
        height: 3.2rem;
    }
}