.identityForm {
  padding: 0;
}

.identityFile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal {
  width: 70%;
}

@media (--xl-viewport) {
  .modal {
    width: 50%;
  }
}
