.userCard {
  padding: 2rem var(--container-padding-right) 2rem
    var(--container-padding-left);
  margin-bottom: var(--spacing-large);
}

.userCard > *:not(:last-child) {
  display: flex;
  flex-flow: column;
  margin-bottom: var(--spacing-1);
}

.reset {
  all: unset;
}

.form > *:first-child {
  margin-top: 0;
}

.textHighlight {
  width: fit-content;
}

.section {
  display: flex;
  flex-flow: column;
}

.column {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.column > *:not(:first-child) {
  margin-top: var(--spacing-small);
}

.section > *:not(:last-child) {
  padding-bottom: 1rem;
}

.horizontalSection {
  flex-flow: row !important;
  align-items: center;
}

.horizontalSection > *:not(:first-child) {
  margin-left: var(--spacing-1);
}

.tableCell * {
  text-overflow: ellipsis;
  overflow: hidden;
}

.totp {
  display: flex;
}

.totp > *:not(:first-child) {
  margin-left: var(--spacing-medium);
}

.totp > img {
  width: 200px;
  height: 200px;
  border: 0.1rem var(--input-border-color) solid;
}

.totp > .instructions > *:not(:first-child) {
  margin-bottom: var(--spacing-1);
}

@media (--sm-viewport) {
  .column:not(:first-child) {
    margin-top: var(--spacing-large);
  }
  .column {
    align-items: flex-start;
  }
  .tableCell::before {
    padding-right: 1rem;
  }
}
