.userCard {
  padding: 2rem var(--container-padding-right) 2rem
    var(--container-padding-left);
}

.userCard > div > *:not(:last-child) {
  display: flex;
  flex-flow: column;
  margin-bottom: var(--spacing-1);
}

.userCard > *:not(:last-child) {
  margin-bottom: var(--spacing-large);
}

.textHighlight {
  width: fit-content;
}

.section {
  display: flex;
  flex-flow: column;
}

.section > *:not(:last-child) {
  padding-bottom: 1rem;
}
