.sharedNavAtribute {
  height: 100%;
  display: flex;
  align-items: center;
}

.navContainer {
  composes: sharedNavAtribute;
}

.loggedInContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noCreditsContainer {
  justify-content: center !important;
}

.navLinkCtn {
  composes: sharedNavAtribute;
}

.navLink {
  margin: 0 15px;
  composes: sharedNavAtribute;
  text-decoration: none !important;
  border-bottom: 0.2rem solid transparent;
}

.navLink > span {
  color: var(--tab-text-color);
}

.activeDropdownItem {
  color: var(--dropdown-item-active-color) !important;
}

.activeNavLink {
  border-bottom: 0.4rem solid var(--active-nav-border-color);
}

.activeNavLink > span {
  color: var(--tab-text-active-color);
}

ul.dropdownList {
  width: unset;
}

.themeToggleWrapper {
  border-right: 0.1rem solid var(--separator-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.publicWrapper {
  margin-right: 15px;
  padding: 0 30px;
  border-bottom: 0.2rem solid transparent;
}

@media screen and (max-width: 1000px) {
  .loggedInContainer {
    width: 100%;
  }

  div.dropdown {
    position: relative;
    right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .themeToggleWrapper {
    border-right: 0;
  }
  .navContainer {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 560px) {
  .loggedInContainer {
    width: 100%;
    padding: 0 var(--container-padding-right) 0 var(--container-padding-left);
    display: flex;
    justify-content: space-between;
  }
  ul.dropdownList {
    left: 0;
  }

  div.dropdown {
    position: relative;
    right: 0;
  }

  div.noCreditsDropdown {
    right: 0 !important;
  }
}
