.navContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.loggedInContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noCreditsContainer {
  justify-content: center !important;
}

.navLink {
  composes: navContainer;
  text-decoration: none !important;
  border-bottom: 0.2rem solid transparent;
}

.navLink > span {
  color: var(--tab-text-color);
}

.navLinkText {
  padding: 0 2rem;
}

.rightGreyBorder {
  border-right: 0.1rem solid var(--separator-color);
}

.activeDropdownItem {
  color: var(--dropdown-item-active-color) !important;
}

.activeNavLink {
  border-bottom: 0.4rem solid var(--active-nav-border-color);
}

.activeNavLink > span {
  color: var(--tab-text-active-color);
}

ul.dropdownList {
  width: unset;
}

.themeToggleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.publicWrapper {
  padding: 0 1rem;
  border-bottom: 0.2rem solid transparent;
}

.themeToggleLabel {
  margin-left: 1rem;
  margin-top: 0.1rem;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .loggedInContainer {
    width: 100%;
  }

  div.dropdown {
    position: relative;
    right: 1rem;
  }
}

@media screen and (max-width: 560px) {
  div.dropdown {
    position: relative;
    right: 2.4rem;
  }

  div.noCreditsDropdown {
    right: 0 !important;
  }
}
