/* Editor */
.editorWrapper {
  background: var(--card-background);
}

.actionButtons {
  cursor: pointer;
}
.actionButtons > span {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: 1px solid var(--separator-color);
}
.actionButtons > span:first-child {
  margin-left: 0rem;
  padding-left: 0rem;
  border: 0px;
}

.tabs {
  display: flex;
}
.headers {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}
.tabs > div {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
  border-left: 1px solid var(--separator-color);
}
.tabs > div:first-child {
  margin-left: 0rem;
  padding-left: 0rem;
  border: 0px;
}
.hide {
  visibility: hidden;
}

.content {
  width: 100%;
  display: grid;
}
.editor {
  resize: vertical;
  min-height: 20rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--card-background);
}
.preview {
  padding: 1rem;
  border: 1px solid var(--separator-color);
  overflow-y: scroll;
  width: 100%;
}

.splitView {
  grid-template-columns: 1fr 1fr;
}

.hideEditor {
  grid-template-columns: 0 1fr;
}
.hideEditor > .editor {
  width: 0px !important;
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  white-space: nowrap;
}

.hidePreview {
  grid-template-columns: 1fr 0;
}
.hidePreview > .preview {
  width: 0px !important;
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  white-space: nowrap;
  height: 0px;
  min-height: 100%;
}
