.user-page .detail-admin {
    display: inline-block;
    margin-left: 8px;
    color: #39740a;
}
  
.user-page .detail-tab-content {
    padding-left: 24px;
    width: calc(100% - 24px);
    text-align: left;
    float: left;
}

.user-page .detail-header {
    display: flex;
    align-items: center;
}

.no-text-overflow { 
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selector {
    max-width: 200px;
}

.supervisor-field {
    display: inline-flex;
    align-items: center;
}

.new-supervisor-button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.new-supervisor-id:hover {
    color: #2971FF;
}
.new-supervisor-id {
    margin: 0px 3px;
}