.thumbnailGrid {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}

.fileError {
    border: 1px solid #ed6d47;
}

.fileErrorText {
    color: #ed6d47;
    font-size: 1.3rem;
    min-height: 2rem;
}

.marginRight {
    margin-right: 15px;
}

.removeFileIcon {
    height: 10;
    border: 0;
    margin-right: 10px;
}

.fileThumbnailWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: flex-start;
}

.fileThumbnail {
    transition: box-shadow .3s;
    width: 125px;
    height: 90px;
    border-radius: 2px;
    border: 1px solid #ed6d47;
    background-color: #E6EAED;
}

.imageThumbnailWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: flex-start;
}

.imageThumbnail {
    transition: box-shadow .3s;
    width: 125px;
    height: 90px;
    border-radius: 2px;
}

.imageThumbnail:hover {
    box-shadow: 0 0 10px rgba(33,33,33,.2); 
}

.fileThumbnail:hover {
    box-shadow: 0 0 10px rgba(33,33,33,.2); 
}

.fileThumbnailText {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 30px;
}