#header {
  background-color: #2971FF;
  position: fixed;
  top: 0;
  height: 196px;
  width: 100%;
  border: none;
  background-image:
  	-webkit-repeating-linear-gradient(315deg, rgba(0, 0, 255, .03) 9%, rgba(0, 198, 96, .03) 13%),
  	-webkit-repeating-linear-gradient(315deg, rgba(44, 212, 126, .05) 23%, rgba(8, 8, 61, .04) 38%),
  	-webkit-linear-gradient(45deg, #11203a 15%, #305180 70%, #142550 95%);

  background-image:
  	repeating-linear-gradient(135deg, rgba(0, 0, 255, .03) 9%, rgba(0, 198, 96, .03) 13%),
  	repeating-linear-gradient(135deg, rgba(44, 212, 126, .05) 23%, rgba(8, 8, 61, .04) 38%),
  	linear-gradient(45deg, #11203a 15%, #305180 70%, #142550 95%);

  background-position: 0px 0px, 0px 0px, 0px 0px;
  background-size: auto, auto, auto;
  background-repeat: repeat, repeat, repeat;
  box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0 4px 0 rgba(0, 0, 0, .12)
}

.thumbnail.self, #header-img.default-header {
  background-image: url("./logo.svg");
  background-repeat: no-repeat;
  background-position: center left;
}
.thumbnail.self {
  background-color: #0C1E3E;
}

/* Ensure the first letter of the proposal token is not capitalized */
.link .entry .proposal-token:first-letter {
  text-transform: none !important;
}

.entry .buttons li.save-button,
.entry .buttons li.give-gold-button,
.entry .buttons li.report-button,
#header .redditname,
#login-form .c-checkbox input,
#login-form .c-checkbox label,
#remember-me input,
#remember-me label {
  display: none;
}

.score.likes {
    color: #2971ff;
    display: none;
}
.score.dislikes {
    color: #fd714a;
    display: none;
}

.login-form-side .status { display: block }

.side {
  padding: 0;
  right: 0;
  background: 0 0;
  width: 320px
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #586D82;
  font-family: "Source Sans Pro", "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #132f4b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.error {
  color: red;
  font-weight: bold;
}

.CodeMirror {
  min-height: 200px;
}

#app {
  height: 100%;
}

a {
  color: #2970ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfloat:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0;
  background: #0c1e3e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.header h1 {
  float: left;
  margin: 0;
  padding: 0 15px;
  font-size: 24px;
  line-height: 56px;
  font-weight: 400;
  color: #FFF;
}

.header nav {
  float: left;
  font-size: 100%;
}

.header nav a {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(255,255,255,0);
  text-decoration: none;
  color: #d4f0fd;
  will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
  background: rgba(255,255,255,0.2);
}

.header nav a.active {
  background: rgba(255,255,255,0.4);
}

.page {
  min-height: 100%;
  width: 100%;
}

.user-profile-page,
.reset-password-page,
.reset-password-next-step-page,
.forgotten-password-page,
.forgotten-password-next-step-page,
.signup-next-step-page,
.submit-proposal-page,
.logout-page {
  padding: 20px;
}

.login-form fieldset {
  background-color: white;
}

.markdown-editor {
  display: flex;
}
.markdown-editor .editor {
  display: flex;
  flex-direction: row;
}
.markdown-editor .preview {
  display: flex;
  flex-direction: row;
  margin: 0 50px;
}

.login-form a {
  display: inline-block;
}
.login-form-side .recover-password {
  margin-left: 0;
}

.change-password-form,
.forgotten-password-form,
.reset-password-form {
  width: 600px;
}

.message-ct {
  margin: 16px 0;
  display: flex;
  background-color: #ffffff;
}
.message-icon {
  min-width: 64px;
  line-height: 62px;
  font-size: 24px;
  color: #ffffff;
  display: flex;
  align-items: start;
  justify-content: center;
}
.message-text {
  padding: 22px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.message-header {
  font-size: 18px;
  vertical-align: middle;
  margin-bottom: 8px;
}
.message-body {
  vertical-align: middle;
  white-space: normal;
}
.message-body p {
  margin-bottom: 8px;
}
.message-success {
  border: 1px solid #41bf53;
}
.message-success > .message-icon {
  background: #41bf53;
}
.message-success > .message-text > .message-header {
  color: #41bf53;
}
.message-error {
  border: 1px solid #bf4153;
}
.message-error > .message-icon {
  background: #bf4153;
}
.message-error > .message-text > .message-header {
  color: #bf4153;
}
.message-info {
  border: 1px solid #2971FF;
}
.message-info > .message-icon {
  background: #2971FF;
}
.message-info > .message-text > .message-header {
  color: #2971FF;
}

.proposal-meta-data {
  margin-bottom: 8px;
}
.proposal-meta-data-name {
  width: 120px;
  margin-right: 8px;
  text-align: right;
  font-weight: bold;
  float: left;
}
.proposal-meta-data-value {
  float: left;
}

.react-file-reader {
  margin-top: 16px;
}

.attached-image {
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
.attached-image-remove {
  display: block;
  float: left;
  cursor: pointer;
  background: #bf4153;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-left: 8px;
  color: #ffffff;
  border-radius: 2px;
}
.attached-image-remove:hover {
  text-decoration: none;
  opacity: 0.8;
}

.proposal-save {
  margin-top: 16px;
}

/* loading */

@keyframes spin {
  30% {
    transform: rotate(182deg);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(362deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo {
  position: absolute;
  background: url("./spinner.svg") 0px 0px no-repeat;
}
button .logo {
  position: static;
  background: url("./spinner_white.svg") 0px 0px no-repeat;
  margin-top: 10px;
  margin-right: 10px;
}
.spin {
  animation: spin 3s ease-in-out infinite;
}


/* Override conflitant styles for react-mde */
.mde-header-item button {
  text-align: left;
  cursor: pointer;
  padding: .25rem;
  margin: 0;
  border: none !important;
  box-shadow: none !important;
  background: none;
  color: #000;
  height: 28px;
  line-height: 24px;
}
.mde-header ul.mde-header-group li.mde-header-item button:focus {
   background-color: #2971FF;
}
.mde-header ul.mde-header-group li.mde-header-item button:focus .fa {
  color: #fff;
}


.md textarea {
  font-size: 1rem !important;
  padding-bottom: 22px !important;
  line-height: 18px !important;
  resize: none;
  height: 100%;
  overflow-y: hidden;
}

.mde-text {
  min-width: calc(50% - 8px);
}

.mde-preview {
  max-width: calc(50% - 8px);
  width: 100%;
  margin-right: 6px;
}

.mde-preview-content {
  width: 100%;
  margin-top: 0px !important;
  height: 100%;
  overflow-x: scroll;
}

.react-mde-dropdown {
  z-index: 9;
}

.markdown-help {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.markdown-help-text {
  margin-left: 3px;
}

li p.header-1 {
    font-size: 20px !important;
}

li p.header-2 {
    font-size: 18px !important;
}

li p.header-3 {
    font-size: 14px !important;
}

.private-key-identity {
  height: 50px;
  margin-bottom: 20px;
}
.private-key-identity>a,
.private-key-identity>div {
  float: left;
}
.private-key-identity .react-file-reader {
  margin-top: 0px;
}

.signup-next-step-page h3,
.forgotten-password-next-step-page h3,
.verification-success-page h3,
.logout-page h3 {
  margin-bottom: 16px;
}

.verification-success-page p,
.user-profile-page p {
  margin-bottom: 8px;
}

.signup-next-step-page ul,
.forgotten-password-next-step-page ul,
.logout-page ul {
  margin: 16px 0 16px 24px;
  list-style-type: disc;
}
.user-profile-page ul {
  margin: 0 0 8px 24px;
}

.user-profile-page a {
  cursor: pointer;
}
.user-profile-page b {
  padding-left: 0;
}

.user-profile-page .identity-help {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 8px;
  margin-bottom: 16px;
}

.user-profile-page .public-key {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 16px;
}

.signup-next-step-page li,
.forgotten-password-next-step-page li,
.logout-page li,
.user-profile-page li {
  margin: 8px 0;
}
.signup-next-step-page .email-address,
.forgotten-password-next-step-page .email-address {
  font-weight: bold;
}

.markhelp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.markhelp > table {
    margin-top: 10px;
}

.submit-page #newlink.submit.content {
  width: 900px !important;
}

.submit-page .formtabs-content {
    width: 100%;
}
.submit-page .roundfield {
    width: 100% !important;
}

.submit-page .roundfield .usertext-edit {
    width: 100%;
}

.submit-page .roundfield textarea {
    width: 100%;
    border: none;
}

.submit-page .roundfield .usertext-edit .md {
  width: 100%;
  max-width: 100%;
}

.submit-page #newlink.submit.content .btn {
    width: 100%;
    height: auto;
    margin-top: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font: 17px 'Source Sans Pro', Lato, Arial, sans-serif;
    padding: 16px;
}

#header-bottom-right {
  background-color: #586D82;
  position: absolute;
  top: calc(50% - 10px);
  padding: 5px 16px;
}

.user {
  color: rgba(255, 255, 255, .8);
}

.dropdown-list-item {
  display: flex;
  justify-content: flex-start;
  font-size: larger;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
  padding: 12px;
  cursor: pointer;
}

.signup-next-step-wrapper {
  display: flex;
  flex-direction: row
}

.paywall-payment-status {
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}

.paywall-payment-status-received {
  background: #41bf53;
}

.paywall-payment-status-confirmations {
  background: #c98301;
}

.paywall-payment-status-waiting {
  background: #bf4153;
}

.paywall-footer > button {
  margin: 0px;
}

.paywall-payment-section {
  float: left;
}

.paywall-faucet {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 24px 16px 16px 16px;
  margin-top: 16px;
  position: relative;
}

.paywall-faucet-testnet {
  position: absolute;
  background: #999;
  border-bottom-right-radius: 3px;
  color: #fff;
  top: 0;
  left: 0;
  text-transform: uppercase;
  padding: 2px 8px;
  font-size: 0.75em;
}

.paywall-faucet p {
  margin-bottom: 10px;
}

.paywall-faucet-success {
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  color: #41bf53;
}

.paywall-address,
.paywall-amount {
  font-weight: bold;
}
.fullwidth {
  width: 100%;
  max-width: 100% !important;
}

.header-alert {
  position: fixed;
  min-height: 50px;
  top: 0px;
  left: 50%;
  z-index: 9999;
  transform: translateX(-50%);
}

.action-needed-alert > div {
  margin: 0px !important;
}

/* mde */

.commentarea > .usertext textarea:not(:focus):empty  {
    background: url("./theme/commentboxbg.png") 50% 50% no-repeat
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.modal-container {
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 80px;
}

.modal-content {
  background: white;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2);
  max-width: 60%;
  z-index: 2;
}

.modal-content-header {
  padding: 10px 8px;
  display: flex;
  align-items: center;
}

.modal-content-actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 8px;
}

.modal-content-actions > .btn {
  margin-right: 16px;
  margin-left: 0;
  min-width: 70px;
}

.receive-content-nest-qrimage {
  width: 140px;
  height: 140px;
  float: right;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.disabled {
  background: rgba(0, 0, 0, .08);
  color: #bbb;
  cursor: not-allowed;
  user-select: none;
}

.appWrapper {
  background: #f4f7f9;
}
