:root {
  --spacing-extra-small: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 3rem;

  --container-padding-left: 4rem;
  --container-padding-right: 4rem;
}

/* Flex Helpers */
.justify-right {
  display: flex;
  justify-content: flex-end !important;
}

.justify-left {
  display: flex;
  justify-content: left;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-start {
  display: flex;
  align-items: flex-start;
}

.align-end {
  display: flex;
  align-items: flex-end;
}

.align-stretch {
  display: flex;
  align-items: stretch;
}

.flex-centralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Generic helpers */

/* No margin */
.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

/* Extra Small margin */
.margin-left-xs {
  margin-left: var(--spacing-extra-small) !important;
}

.margin-right-xs {
  margin-right: var(--spacing-extra-small) !important;
}

.margin-top-xs {
  margin-top: var(--spacing-extra-small) !important;
}

.margin-bottom-xs {
  margin-bottom: var(--spacing-extra-small) !important;
}

/* Small margin */
.margin-left-s {
  margin-left: var(--spacing-small) !important;
}

.margin-right-s {
  margin-right: var(--spacing-small) !important;
}

.margin-top-s {
  margin-top: var(--spacing-small) !important;
}

.margin-bottom-s {
  margin-bottom: var(--spacing-small) !important;
}

/* Medium margin */
.margin-left-m {
  margin-left: var(--spacing-medium) !important;
}

.margin-right-m {
  margin-right: var(--spacing-medium) !important;
}

.margin-top-m {
  margin-top: var(--spacing-medium) !important;
}

.margin-bottom-m {
  margin-bottom: var(--spacing-medium) !important;
}

/* Large margin */
.margin-left-l {
  margin-left: var(--spacing-large) !important;
}

.margin-right-l {
  margin-right: var(--spacing-large) !important;
}

.margin-top-l {
  margin-top: var(--spacing-large) !important;
}

.margin-bottom-l {
  margin-bottom: var(--spacing-large) !important;
}

/* Padding helpers */
.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.padding-bottom-s {
  padding-bottom: var(--spacing-small);
}

.padding-x-s {
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}

.padding-y-s {
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-small);
}

.overflow-hidden {
  overflow: hidden;
}

/* widht and height helpers */
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/* Color helpers */
.color-gray {
  color: var(--color-gray);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.text-secondary-color {
  color: var(--text-secondary-color);
}

/* container: class to be aplied to all major content wrappers */
.container {
  padding: 2rem var(--container-padding-right) 2rem
    var(--container-padding-left);
}

.main {
  max-width: 100vw;
}

/* unselectable class */
.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Global transition effect classes */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 215ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit {
  opacity: 0;
  transition: opacity 100ms;
}

/* Text overflow helper */
.use-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Cursor helpers */
.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

/* Site Banner */
.archive-banner {
  position: fixed;
  font-size: var(--font-size-large);
  padding: var(--spacing-4);
  border-radius: var(--spacing-1);
  z-index: var(--z-index-big);
  background-color: var(--color-primary-dark);
  color: var(--text-color-light);
  bottom: 2rem;
  max-width: 60rem;
  left: calc(50% - 30rem);
}

.archive-banner__dark {
  background-color: var(--color-gray-lightest2);
  color: var(--color-primary-darker);
}

.archive-banner__link,
.archive-banner__link:link,
.archive-banner__link:visited {
  color: inherit;
  text-decoration: underline;
}

/* Visibility helpers */
.display-none {
  display: none;
}

/* EXTRA SMALL */
@media screen and (max-width: 560px) {
  .hide-on-mobile {
    display: none !important;
  }

  .archive-banner {
    max-width: 44rem;
    left: calc(50% - 22rem);
  }

  :root {
    --container-padding-left: 2.5rem;
    --container-padding-right: 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  .archive-banner {
    max-width: 36rem;
    left: calc(50% - 18rem);
  }
}

@media screen and (max-width: 370px) {
  .archive-banner {
    max-width: 30rem;
    left: calc(50% - 15rem);
  }
}
