.app-modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.app-modal {
  position: fixed;
  z-index: 200;
}

.paywall-modal-wrapper {
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  border-radius: 5px;
  overflow-y: auto;
  width: 500px;
  background: #fff;
  line-height: normal;
  text-align: left;
}

.modal-paywall-header {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding: 1em;
  padding-bottom: 2em;
}

.modal-paywall-header-title {
  float: left;
}

.modal-paywall-header-close {
  float: right;
  background: #fff;
  cursor: pointer;
}

.modal-paywall-content {
  padding: 2em;
  border-bottom: 1px solid rgb(182, 182, 182);
}

.modal-paywall-footer {
  padding: 1em;
  float: right;
}