
.error.cell > div.text {
  text-align: center;
}

.value-viewer, .data-editor {
  text-align: left !important;
  padding-left: 10px;
}

.row-handle.cell {
  width: 1rem;
}

tbody .row-handle.cell, thead .cell:not(.row-handle) {
  cursor: move;
}

.data-grid-container table.data-grid tr {
 background: white;
}
.data-grid-container table.data-grid .drop-target,  .data-grid-container table.data-grid thead .cell.read-only.drop-target {
  background: #6F86FC;
  transition: none;
  color: white;
}
.data-grid-container table.data-grid thead .cell.read-only {
  transition: none;
}

.data-grid-container .data-grid .cell > input {
    width: 100%;
    height: 100%;
}

.container {
  max-width: 600px;
  margin: auto;
}
table.data-grid {
  margin: auto;
  width: 100%;
}

.sheet-container {
  display: block;
  padding: 5px;
  width: 100%;
  margin-top: 20px;
}

.sheet-container table.data-grid tr td.cell:not(.selected){
  border: 1px solid #ececec;
}
.sheet-container table.data-grid tr td.cell, .sheet-container table.data-grid tr th.cell {
  font-size: 12px;
}
div.divider {
  margin: 40px 0px;
  height: 1px;
  width: 100%;
  background-color: #EEE;
}
pre {
      display: inline-block;
    background: #333;
    padding: 10px 30px;
    border-left: 2px solid white;
}

.table-button {
    line-height: 1.4rem !important;
    font-size: 0.8rem;    
    max-height: 1.4rem;
}

.table-button.add-row {
    background: #164623;
}

.table-button.add-row:hover {
    background: #476b50;
}

.table-button.remove-row {
    background: #e63946;
}

.table-button.remove-row.disabled {
    background: rgba(0, 0, 0, .08)
}

.table-button.remove-row:hover {
    background: #f17d86;
}


.error-list {
    color: red;
}

.total-label {
  color: black;
  font-size: 12px;
  font-weight: bold;
}