.customMain {
  background: none !important;
}

.customHeader {
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;
}

.customTitleAndSubtitleWrapper {
  justify-content: center;
}

@media screen and (max-width: 560px) {
  .commentsHeaderWrapper {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}
