.navigationDrawer {
  position: fixed;
  z-index: var(--z-index-5);
  margin-top: 6rem;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0.5;
  width: 40rem;
  transform: translateX(41rem);
  background-color: var(--container-color);
  transition: all 0.2s;
  box-shadow: 0.5rem 2rem 2rem 0 var(--color-shadow-light);
}

.navigationDrawerHeader {
  width: 40rem;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6rem;
  background-color: var(--header-color);
  z-index: var(--z-index-1);
}

.navigationDrawerFullScreen {
  composes: navigationDrawer;
  width: 100%;
  transform: translateX(105%);
}

.navigationDrawerShow {
  composes: navigationDrawer;
  transform: translateX(0);
  opacity: 1;
}

.navWrapper {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--container-padding-right) 0 var(--container-padding-left);
  background-color: var(--card-background);
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 1000px) {
  .navigationDrawerHeader {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 768px) {
  .navigationDrawerHeader {
    padding: 0 3rem;
  }
  .navWrapper {
    padding: 0;
  }
}
