span.privacyPolicyTxt {
    cursor: pointer;
    margin-right: 1rem;
}

/* EXTRA SMALL SCREENS */
@media screen and (max-width: 560px) {
    .footer {
        flex-direction: column;
    }
    .createAccounTxt {
        margin-top: 1rem;        
    }
  }