.navigationDrawer {
  position: fixed;
  margin-top: 6rem;
  z-index: var(--z-index-5);
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0.5;
  width: 400px;
  transform: translateX(410px);
  background-color: var(--color-gray-lightest2);
  transition: all 0.2s;
  box-shadow: 0.5rem 2rem 2rem 0px var(--color-shadow-light);
}

.navigationDrawerFullScreen {
  composes: navigationDrawer;
  width: 100%;
  transform: translateX(105%);
}

.navigationDrawerShow {
  composes: navigationDrawer;
  transform: translateX(0);
  opacity: 1;
}

.navWrapper {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--container-padding-right) 0 var(--container-padding-left);
  background-color: var(--color-white);
}
