.detailsWrapper {
  padding: var(--spacing-large) 0;
}

.detailsWrapper > * {
  margin-bottom: var(--spacing-medium);
}

.detailsWrapper > *:last-child {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

@media (--sm-viewport) {
  .goBackLink {
    padding-left: var(--container-padding-left);
  }
}
