.compareIcon {
  padding: 0 1rem;
}

.diffBody {
  padding-top: 2rem;
  border-top: 1px solid var(--separator-color);
}

.diffWrapper > * {
  padding: 0px !important;
}

.modalSubtitle {
  color: var(--text-secondary-color) !important;
}

.modalHeader {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--separator-color);
}

.modalWrapper {
  width: 100%;
}

.versionPickerWrapper {
  align-items: center;
  display: flex;
}
