.compareIcon {
  padding: 0 1rem;
}

.diffBody {
  padding-top: 2rem;
  border-top: 1px solid var(--separator-color);
}

.diffWrapper > * {
  padding: 0px !important;
}

.subtitle {
  color: var(--text-secondary-color) !important;
}

.modalHeader {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--separator-color);
}

.modalWrapper {
  width: 100%;
}

.versionDownloads > * > * > * {
  color: var(--text-secondary-color) !important;
}

.versionsInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.versionPickerWrapper {
  align-items: center;
  display: flex;
}
