.compareIcon {
  padding: 0 1rem;
}

.diffBody {
  padding-top: 2rem;
}

.diffWrapper > * {
  padding: 0px !important;
}
.diffWrapper > * > *:nth-child(2) {
  margin: 0;
}

.diffHeader {
  position: sticky;
  background-color: var(--card-background);
  padding: 2rem 0;
  border-bottom: 1px solid var(--separator-color);
  top: -3rem;
}

.filesDiffWrapper {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--separator-color);
  display: flex;
  overflow-x: auto;
}

.added {
  border: 2px solid var(--color-green);
}

.removed {
  border: 2px solid var(--color-orange);
}

.subtitle {
  color: var(--text-secondary-color) !important;
}

.modalContent {
  min-height: 40vh;
}

.modalContent > h1 {
  margin-bottom: 0px;
}

.modalHeader {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--separator-color);
}

.modalWrapper {
  width: 100%;
}

.versionDownloads > * > * > * {
  color: var(--text-secondary-color) !important;
}

.versionsInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.versionsInfo > *:last-child {
  justify-content: flex-end;
}

.versionPickerWrapper {
  align-items: center;
  display: flex;
}
