.block {
  width: 100%;
  min-height: var(--font-size-xxlarge);
  background-color: var(--dimmed-card-background);
  min-width: 10rem;
  margin-top: 1rem;
  animation: fadeIn linear 1s alternate infinite;
  -webkit-animation: fadeIn linear 1s alternate infinite;
  -moz-animation: fadeIn linear 1s alternate infinite;
  -o-animation: fadeIn linear 1s alternate infinite;
  -ms-animation: fadeIn linear 1s alternate infinite;
}

.footerButtons {
  display: flex;
}

.footerButtons > * {
  margin-left: 1rem;
}

.formButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.listItemWrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.loaderWrapper {
  margin-bottom: var(--spacing-medium);
}

.proposalBody > *:first-child {
  padding-bottom: 2rem;
  border-top: 0.1rem solid var(--separator-color);
  border-bottom: 0.1rem solid var(--separator-color);
}
.proposalBody > * {
  padding-top: 2rem;
}

.rules > li {
  margin-top: 1rem;
}

.secondRow > * {
  margin-top: var(--spacing-medium);
}

.secondRow > *:first-child {
  margin-top: 0;
}

.textTooltip {
  width: 15rem;
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
