.modalContent {
  display: flex;
  flex-flow: column;
}

.modalContent > *:not(.modalButtons) {
  padding: 1rem 0;
  margin-bottom: var(--spacing-2);
}

.modalWrapper {
  width: 70% !important;
}

.modalButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modalExternalLink > * {
  margin-top: var(--spacing-1);
}

.modalExternalLink .center {
  text-align: center;
}

.modalExternalLink .right {
  text-align: end;
}

.modalExternalLinkUrl {
  display: inline-block;
  border: 1px solid var(--color-gray-light);
  padding: 0.5em;
  border-radius: 0.6rem;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: var(--spacing-1);
  user-select: all;
}

.modalImage {
  max-width: 100%;
}

.form {
  padding: 0 !important;
}

.form button[type="submit"] {
  width: fit-content;
  align-self: end;
}

@media (--xl-viewport) {
  .modalWrapper {
    width: 50% !important;
  }
}
