.title {
  font-size: 2rem !important;
  flex-basis: 25%;
}

.statusBarTooltip {
  width: 22.5rem;
}

span.statusTag > span {
  overflow: visible;
}

.statusWrapper {
  height: 100%;
}

.status {
  position: relative;
  right: 0;
  top: 0;
}

.itemTitle {
  flex-basis: 30%;
}

.commentsLink {
  font-size: var(--font-size-small);
}

.itemWrapper {
  padding: 0.5rem;
  height: 8rem;
  border-bottom: 1px solid var(--separator-color);
  cursor: pointer;
}

.statusBarWrapper,
.timeLeftPassed {
  flex-basis: 30%;
  height: 100%;
}

.voteEvent {
  color: var(--color-primary-dark) !important;
}

/* SMALL SCREENS*/
@media screen and (max-width: 768px) {
  .itemWrapper {
    height: 100%;
    margin: var(--spacing-1) auto;
    flex-direction: column;
    padding: 0.5rem;
  }
  .itemWrapper > * {
    margin: 0.5rem;
  }
  .statusBarWrapper {
    width: 100%;
  }
}
