.likeBox {
  display: flex;
  align-items: center;
}

.leftLikeBox {
  composes: likeBox;
  padding-right: 1rem;
  border-right: 1px solid var(--separator-color);
}

.rightLikeBox {
  composes: likeBox;
  padding-left: 1rem;
}

.likeBoxSpinner {
  padding-right: 2.5rem;
}

.likeBtn {
  cursor: pointer;
  border: none;
  background: none !important;
  outline: none;
}

.likesResult {
  display: block;
  line-height: 16px !important;
  text-align: right !important;
  margin-left: 0.34rem;
  color: var(--color-gray) !important;
}

.likeDisabled {
  cursor: not-allowed;
}

.likeBtn:not(.likeDisabled):hover svg > g > path {
  fill: var(--comment-like-color-active) !important;
}
