.titleWrapper {
  display: flex;
  align-items: flex-end;
}

.sidebanner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.titleLink {
  line-height: var(--spacing-3);
  margin-left: 1rem;
}