.titleWrapper {
  display: flex;
  align-items: flex-end;
}

.sidebanner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.titleLink {
  line-height: var(--spacing-3);
  font-size: var(--font-size-small);
  margin-left: 1rem;
}

/* EXTRA EXTRA SMALL ADJUSTMENT */
@media screen and (max-width: 361px){
  .titleLink {
    line-height: var(--spacing-1);
  }
}