.diffTabs {
  display: flex;
  margin: 2rem 0;
}


.diffTabs > li {
  flex: 50%;
  justify-content: center;
}

@media screen and (max-width: 560px) {
  .version {
    margin-left: auto !important;
  }
}
