.submitButton {
  margin: 1rem 0;
  float: right;
  width: 1;
}

.confirmMessage {
  margin: 0 0 1rem 0;
}

.savedIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SMALL WIDTH */
@media screen and (max-width: 768px) {
  .marginHorizontal1 {
    margin: 0 1rem;
  }

  .confirmMessage {
    margin: 0 1rem 1rem 1rem;
  }

  .submitButton {
    margin: 1rem;
    float: right;
  }
}
