.draftWrapper {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modalTitle {
  padding-left: 1rem;
}

.draftWrapper:hover {
  background-color: var(--container-color);
  cursor: pointer;
}

.draftTitleRfp {
  position: absolute;
  top: 1.2rem;
}
