div.commentAreaContainer {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

div.commentsWrapper {
  padding: 0 2.6rem 2rem 2.6rem;
}

div.commentsHeader {
  padding-top: 0;
}

div.titleWrapper {
  margin-bottom: var(--spacing-small);
}

h2.commentsTitle {
  font-weight: var(--font-weight-regular);
}

.commentsCount {
  color: var(--color-gray);
  padding-left: 0.3rem;
}

.sortContainer {
  width: 18rem;
  display: flex;
}

span.flatButtonText {
  cursor: pointer;
  color: var(--color-primary);
  font-size: var(--font-size-small);
}

.flatButtonWrapper {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--color-primary);
  user-select: none;
}

div.flatModeActive {
  background-color: var(--color-primary);
}

span.flatModeActive {
  color: var(--color-white);
}

.notAllowedMessageContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modeToggleLabel {
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

@media screen and (max-width: 560px) {
  div.commentsWrapper {
    padding: 0 0 2rem 0;
  }

  .commentsHeaderWrapper,
  .commentsHeader {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}
