div.commentAreaContainer {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

div.commentsWrapper {
  padding: 0 2.6rem 2rem 2.6rem;
}

.commentsHeader {
  margin-top: 2rem;
}

div.titleWrapper {
  margin-bottom: var(--spacing-small);
}

h2.commentsTitle {
  font-weight: var(--font-weight-regular);
}

.commentsCount {
  color: var(--color-gray);
  padding-left: 0.3rem;
}

.sortContainer {
  width: 18rem;
  display: flex;
  justify-content: space-between;
}

.notAllowedMessageContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modeToggleWrapper {
  display: flex;
  margin-top: var(--spacing-small);
}

.modeToggleLabel {
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}

@media screen and (max-width: 560px) {
  div.commentsWrapper {
    padding: 0 0 2rem 0;
  }

  .commentsHeaderWrapper {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}
