.authorUpdate {
  border: 1px solid var(--input-border-color);
  margin-bottom: var(--spacing-medium);
}

.comment {
  margin-bottom: 2rem;
  padding: 1rem 1.4rem;
}

.reply {
  cursor: pointer;
  margin-right: 1rem;
  color: var(--tab-text-color) !important;
}

span.censor {
  cursor: pointer;
  color: #ed6d47;
  margin-right: 1rem;
}

span.censor:hover {
  color: #e25025;
}

.censored {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--comment-censored-background);
}

.timeAgo {
  font-size: var(--font-size-normal);
  color: var(--text-secondary-color) !important;
}

.contextLink {
  font-size: var(--font-size-normal);
  color: var(--text-secondary-color) !important;
}

.info {
  flex-wrap: wrap;
}

.likesWrapper {
  margin-left: auto;
}

.childrenContainer {
  margin-top: 2rem;
  margin-left: 1.5rem;
  border-left: 1px solid var(--separator-color);
}

.showReplies {
  display: block;
  cursor: pointer;
  background: var(--tab-count-background);
  color: var(--comment-like-color-active);
  width: 2.8rem;
  text-align: center;
  margin-right: 1rem;
}

.reply:hover {
  color: var(--color-primary-dark);
}

.commentAuthor {
  font-weight: var(--font-weight-semi-bold);
}

.recordAuthor {
  color: var(--color-gold) !important;
}

.permalinkTooltip {
  white-space: nowrap;
  font-size: var(--font-size-small);
  color: var(--color-gray);
}

.copyLinkIcon {
  cursor: pointer;
}

.highlightAsNew {
  background-color: var(--comment-new-background);
}

.replyForm {
  padding-left: 1.4rem;
}
