.commentWrapper {
    margin-bottom: 2rem;
    padding: 1rem 1.4rem;
}

.reply {
    cursor: pointer;
    margin-right: 1rem;
}

.censor {
    cursor: pointer;
    color: #ED6D47;
}

.censored {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FEF5F3;
}

.timeAgo {
    font-size: var(--font-size-normal);
}

.childrenContainer { 
    margin-top: 2rem;
    margin-left: 1.5rem;
    border-left: 1px solid var(--color-gray-lighter);
}

.showReplies {
    display: block;
    cursor: pointer;
    background: var(--color-gray-lighter);
    color: var(--color-primary-dark);
    width: 2.8rem;
    text-align: center;
    margin-right: 1rem;
}

.reply:hover {
    color: var(--color-primary-dark);
}

.censor:hover {
    color: orange;
}

.commentAuthor {
    font-weight: var(--font-weight-semi-bold);
}

.recordAuthor {
    color: var(--color-gold);
}

.permalinkTooltip {
    white-space: nowrap;
    font-size: var(--font-size-small);
    color: var(--color-gray);
}

.copyLinkIcon {
    cursor: pointer;
}

.highlightAsNew {
    background-color: var(--color-gray-lightest);
}

.replyForm {
    padding-left: 1.4rem;
}