.arrowAnchor {
  position: relative;
  height: 100%;
  width: 20px;
}

.arrowAnchor:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: var(--select-anchor-color) transparent transparent transparent;
  position: absolute;
  top: -3px;
  right: 3px;
}

.arrowAnchor.open:after {
  top: -9px;
  border-color: transparent transparent var(--color-primary) transparent;
}
div.customSelect__value-container {
  padding: 2px 0 2px 4px;
}

div.customSelect__indicator {
  padding: 2px 4px 2px 0px;
}

.customSelect__indicator-separator {
  display: none;
}

div.customSelect__control {
  border-radius: 2px !important;
  min-height: 24px;
  min-width: 56px;
  border-color: var(--select-border-color) !important;
  background-color: var(--card-background);
}

div.customSelect__control--menu-is-open {
  box-shadow: none;
}

.customSelect__single-value {
  color: var(--color-primary-dark) !important;
  font-size: var(--font-size-small);
}

div.customSelect__menu {
  border-radius: 0;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  background-color: var(--card-background);
}

div.customSelect__option {
  text-align: center;
  color: var(--tab-text-color);
  background-color: var(--card-background);
}
div.customSelect__option--is-focused {
  color: var(--dropdown-item-hover-color);
}
div.customSelect__option--is-selected {
  color: var(--dropdown-item-hover-color);
}
div.customSelect__option:active {
  background-color: var(--card-background);
}
