.navContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.loggedInContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  composes: navContainer;
  text-decoration: none !important;
  color: var(--color-gray-dark) !important;
  border-bottom: 2px solid transparent;
}

.navLink:hover {
  color: var(--color-primary-dark) !important;
}

.navLinkText {
  padding: 0 2rem;
}

.rightGreyBorder {
  border-right: 1px solid var(--color-gray-lighter);
}

.activeNavLink {
  color: var(--color-primary-dark);
  border-bottom: 2px solid var(--color-yellow);
}

ul.dropdownList {
  width: unset;
}

@media screen and (max-width: 1000px) {
  .loggedInContainer {
    width: 100%;
  }

  div.dropdown {
    position: relative;
    right: 1rem;
  }
}

@media screen and (max-width: 560px) {
  div.dropdown {
    position: relative;
    right: 2.4rem;
  }
}
