.navContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.loggedInContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  composes: navContainer;
  color: var(--color-gray-dark);
  border-bottom: 2px solid transparent;
}

.navLink:hover {
  color: var(--color-primary-dark);
}

.navLink:hover {
  color: var(--color-primary-dark);
}

.navLinkText {
  padding: 0 2rem;
}

.rightGreyBorder {
    border-right: 1px solid var(--separator-color);
}

.activeNavLink {
    color: var(--color-primary-dark);
    border-bottom: 4px solid var(--active-nav-border-color);
}

ul.dropdownList {
  width: unset;
}

.themeToggleWrapper {
    display: flex;
    align-items: center;
    width: 14rem;
}
  
.themeToggleLabel {
    margin-left: 1rem;
}

@media screen and (max-width: 1000px) {
  .loggedInContainer {
    width: 100%;
  }

  div.dropdown {
    position: relative;
    right: 1rem;
  }
}

@media screen and (max-width: 560px) {
  div.dropdown {
    position: relative;
    right: 2.4rem;
  }
}
