.title {
    margin-bottom: 1.7rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actions {
    display: flex;
    width: 100%;
    padding: 2.2rem  0 4rem 0;
    align-items: center;
    justify-content: space-between;
}

.errorMessage {
    width: 100%;
    margin-bottom: 1.8rem;
}

.singleAction {
    composes: actions;
    justify-content: flex-end;
}


.footer {
    width: 100%;
    display: flex;
    padding: 4rem 0;
    border-top: 1px solid var(--container-color);
    justify-content: space-between;
    flex-wrap: wrap;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
