.join {
  display: flex;
  flex-wrap: wrap;
}
.separator {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--color-gray);
}

@media (--xs-viewport) {
  .join:not(.inline) {
    flex-flow: column;
    max-width: 100%;
  }
  .join:not(.inline) > *:not(:first-child) {
    padding-top: 1rem;
  }
  .join:not(.inline) > .separator {
    display: none;
  }
}
