.join {
  display: flex;
  flex-wrap: wrap;
}
.separator {
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--color-gray);
}

@media (--xs-viewport) {
  .join {
    flex-flow: column;
    max-width: 100%;
  }
  .join > *:not(:first-child) {
    padding-top: 1rem;
  }
  .separator {
    display: none;
  }
}
