.selectContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
.select {
    min-width: 10rem;
}

@media screen and (max-width: 768px){ 
    .selectContainer {
        padding-right: .5rem;
    }
}