.returnLink {
  cursor: pointer;
  font-size: var(--font-size-normal);
  color: var(--color-gray) !important;
  padding: 1.2rem 3.4rem;
  margin-left: -3.4rem;
  text-decoration: none !important;
}

.darkReturnLink {
  color: var(--text-color) !important;
}

.returnLinkContainer {
  margin-bottom: 1rem;
}

/* EXTRA SMALL */
@media screen and (max-width: 560px) {
  .returnLinkContainer {
    padding-left: var(--container-padding-left);
  }
}
